* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

label {

}

input {
    border-radius: 5px;
    padding: 5px;
    width: 80px;
    border: 1px solid rgba(0,0,0,0.2);
}

.container {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {

}

td, th {
    padding: 0px 5px;
}

.invalid {
    border-color: #f00;
}

.unidad {
    font-size: 1rem;
    color: rgba(0,0,0,0.6);
}

.resultados {
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
}

.valor {
    min-width: 80px;
    text-align: right;
}

.icons {
    display: inline-flex;
    flex-direction:column;
    position: absolute;
    top: 10px;
    right: 10px;
}

.icons i {
    cursor: pointer;
    margin: 10px;
}

.config {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    background: #fff;
    box-shadow:  5px  0px 5px rgba(0,0,0,0.2),
                -5px  0px 5px rgba(0,0,0,0.2),
                 0px  5px 5px rgba(0,0,0,0.2),
                 0px -5px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.config * {
    margin: 10px;
}

.config td,input {
    font-size: 1rem;
}
